## Song Recommendation

In [1]:
import pandas as pd
import random

In [5]:
name=input('Please enter a song name:')

Please enter a song name:refrree

### 1st Prototype

From top songs we scraped from popvortex site and all eurovision winners

In [2]:
top_songs=pd.read_csv('top_songs.csv')

In [3]:
top_songs

                           song                artist
0                Margaritaville         Jimmy Buffett
1                   Come Monday         Jimmy Buffett
2    Rich Men North of Richmond  Oliver Anthony Music
3      Cheeseburger In Paradise         Jimmy Buffett
4                      All Star           Smash Mouth
..                          ...                   ...
165                         Toy                 Netta
166                      Arcade       Duncan Laurence
167               Zitti e buoni              Måneskin
168                    Stefania      Kalush Orchestra
169                      Tattoo                Loreen

[170 rows x 2 columns]

In [10]:
if name.capitalize() in top_songs['song'].values:
    random_song = top_songs['song'][[random.randint(0, len(top_songs)-1)]].values[0]
    artist=top_songs['artist'][top_songs['song']==random_song].values[0]
    print("That's hot!")
    print("Here's another recommendation: "+random_song+ " by " +artist)
else:
    print("No Recommendation!")

No Recommendation!

### 2nd Prototype

From a large playlist on spotify